<% provide(:title, "ユーザー情報修正") %>
    <main>

      <h2 class="text-center mt-5">ユーザ情報修正</h2>
      <div>
        <%= form_with(model: @user, local: true) do |f| %>
          <%= render 'shared/error_messages', object: f.object %>
          <table width="50%" style="margin-left:350px">       
            <tr height="40">
              <td align="center">
                氏名<span style="float: right">
                  <%= f.label :last_name, "姓" %>
              </td>
              <td>
                <%= f.text_field :last_name %>
                <%= f.label :first_name, "名" %>
                <%= f.text_field :first_name %>
              </td>
            </tr>

            <tr height="40">
              <td align="center">
                <span style="float: right">
                <%= f.label :zipcode, "〒" %>
              </td>
              <td colspan="2">
                <%= f.text_field :zipcode %>
              </td>
            </tr>

            <tr height="40">
              <td align="right">
                <%= f.label :prefecture, "都道府県" %>
              </td>
              <td colspan="2">
                <%= f.text_field :prefecture %>
              </td>
            </tr>

            <tr height="40">
              <td align="right">
                <%= f.label :municipality, "市区町村" %>
              </td>
              <td colspan="2">
                <%= f.text_field :municipality %>
              </td>
            </tr>

            <tr height="40">
              <td align="right">
                <%= f.label :address, "番地" %>
              </td>
              <td colspan="2">
                <%= f.text_field :address %>
              </td>
            </tr>

            <tr height="40">
              <td align="right">
                <%= f.label :apartments, "マンション" %><br><%= f.label :apartments, "部屋番号" %></br>
              </td>
              <td colspan="2">
                <%= f.text_field :apartments %>
              </td>
            </tr>

            <tr height="40">
              <td align="center">
                <%= f.label :address, "メールアドレス" %>
              </td>
              <td colspan="2">
                <%= f.email_field :email %> 
              </td>
            </tr>

            <tr height="40">
              <td align="center">
                <%= f.label :phone_number, "電話番号" %>
              </td>
              <td colspan="2">
                <%= f.text_field :phone_number %> 
              </td>
            </tr>
          
            <tr height="40">
              <td align="center">
                <%= f.label :password, "パスワード" %>
              </td>
              <td colspan="2">
                <%= f.password_field :password %> 
              </td>
            </tr>

            <tr height="40">
              <td align="center">
              <%= f.label :password_confirmation, "パスワード(再入力)" %>
              </td>
              <td colspan="2">
              <%= f.password_field :password_confirmation %> 
              </td>
            </tr>
          </table>

          <div class="row mt-5">
            <div class="col-5">
              <div class="d-flex justify-content-end">  
                <%= f.submit "修正", class: "btn btn-primary" %>
              </div>
            </div>
        
            <div class="col-5 offset-2">
              <%= link_to "退会", @user, method: :delete, data: { confirm: "ユーザーデータが全て削除されます。本当に退会しますか？" }, class: "btn btn-danger" %>
            </div>
          </div>
        <% end %>
      </div>  
           
    </main>
