<% provide(:title, "注文詳細") %>
<main>
  <% if @order.present? %>
    <div class="mt-5 container">
      <div class="jumbotron bg-white">
        <div class="card border-dark">
          <div class="cord-body ml-3">
            <h4 class="mt-4">お届け先</h4>
            <p class="ml-3">〒<%= @order.user.zipcode %>　<%= @order.user.prefecture %><%= @order.user.municipality %><%= @order.user.address %></p>
            <p class="offset-sm-2"><%= @order.user.last_name %>　<%= @order.user.first_name %>様</p>
          </div>
        </div>
        <div class="mt-5 ml-3">
          <p>注文番号：<%= @order.order_number %></p>
          <%= @order.find_preparation_shipment_status ? "注文状態：準備中" : "注文状態：発送済" %>
        </div>
        <div class="text-end">
        <% if @order.find_preparation_shipment_status %>
          <%= link_to "注文をキャンセルする", @order, method: :delete, class: "btn btn-danger" %>
        <% end %>
        </div>
        <table class="table table-borderless mt-3">
          <thead>
            <tr>
              <th scope="col" class="border-top border-bottom">No</th>
              <th scope="col" class="border-top border-bottom">商品名</th>
              <th scope="col" class="border-top border-bottom">商品カテゴリ</th>
              <th scope="col" class="border-top border-bottom">値段</th>
              <th scope="col" class="border-top border-bottom">個数</th>
              <th scope="col" class="border-top border-bottom">小計</th>
              <th scope="col" class="border-top border-bottom">備考</th>
            </tr>
          </thead>
          <tbody>
            <% @order.order_details.each do |order_detail| %>
              <tr>
                <th scope="row"><%= order_detail.id %></th>
                <td><%= order_detail.product.product_name %></td>
                <td><%= order_detail.product.category.category_name %></td>
                <td><%= order_detail.product.price %>円</td>
                <td><%= order_detail.order_quantity %>個</td>
                <td><%= order_detail.one_product_total_price %>円</td>
                <td>注文状態：<%= order_detail.shipment_status.shipment_status_name %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div class="border-top border-dark">
          <div class="mt-2 offset-sm-6">
            <p class="ml-4">合計 <%= @order.all_products_total_price %></p>
          </div>
        </div>
        <div class="text-end mb-5">
          <%= link_to '注文履歴に戻る', orders_path, class: "btn btn-info" %>
        </div>
      </div>
    </div>
  <% else %>
    <div class="container">
      <div class="jumbotron text-center bg-white"></div>
        <div class="mt-5 text-center">
          <h1>該当の注文は見つかりませんでした…</h1>
          <p class="mt-5">注文履歴画面に戻り、やり直してください</p>
          <%= link_to '注文履歴へ', orders_path, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</main>