    <header>
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <div class="navbar-nav me-auto">
            <h1><a class="nav-link navbar-brand" href="#">探求学園Rails専攻</a></h1>
          </div>
          <div>
            <ul>
              <p>〇〇 ××さん</p>
            </ul>
            <ul class="navbar-nav">
              <a class="nav-link text-dark" href="#">商品検索</a>
              <a class="nav-link text-dark" href="#">カート</a>
              <a class="nav-link text-dark" href="#">注文履歴</a>
              <a class="nav-link text-dark" href="#">ユーザ情報</a>
              <a class="nav-link text-dark" href="#">ログアウト</a>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
    <div class="mt-5 mx-auto" style="width: 200px">
      <h2>商品検索画面</h2>
    </div>

      <div class="container mt-5">
        <form action="#search" method="GET">
          <div class="mx-auto row">
            <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">商品名</label>
            <div class="col-sm-6">
              <input type="text" class="form-control form-control-lg" id="colFormLabelLg" required />
            </div>
            <div class="col-sm-4 mt-1">
              <button type="submit" class="btn btn-primary" style="width: 80px">
                検索
              </button>
            </div>
          </div>
        </form>
      </div>

      <div class="container">
        <div class="mx-auto row">
          <label class="col-sm-2 col-form-label col-form-label-lg" for="exampleFormControlSelect2">商品カテゴリ</label>
          <div class="col-sm-4">
            <select id="exampleFormControlSelect2" class="form-control">
              <option selected>未選択</option>
              <option>食材品</option>
              <option>生活用品</option>
              <option>消耗品</option>
              <option>嗜好品</option>
              <option>医薬品</option>
            </select>
          </div>
        </div>
      </div>

      <div class="container">
        <% if @products.present? %>
          <p>全<%= @products.count %>件</p>
          <table class="table table-hover" border="1" style="border-collapse: collapse">
            <thead>
              <tr class=" table-header">
                <th class="text-left" width="55%">
                  商品名
                </th>
                <th class="text-center" width="15%">
                  商品カテゴリ
                </th>
                <th class="text-center" width="15%">
                  価格
                </th>
                <th class="text-center" width="15%"></th>
              </tr>
            </thead>
            <tbody>
              <% @products.each do |product| %>
                <tr>
                  <td scope="row">
                    <%= product.product_name %>
                  </td>
                  <td class="text-center">
                    <%= product.category.category_name %>
                  </td>
                  <td class="text-center">
                    <%= product.price %>円
                  </td>
                  <td class="text-center">
                    <a href="#" class="btn btn-primary btn-sm">商品詳細</a>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>       
          <div class="container">
            <nav aria-label="...">
              <ul class="pagination justify-content-center">
                <li class="page-item active">
                  <a class="page-link" href="#">1<span class="sr-only">(現在)</span></a>
                </li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
              </ul>
            </nav>
          </div>
        <% else %>
          <p>全0件</p>
          <table class="table table-hover" border="1" style="border-collapse: collapse">
            <thead>
              <tr>
                <th class="text-left" width="55%">商品名</th>
                <th class="text-center" width="15%">商品カテゴリ</th>
                <th class="text-center" width="15%">価格</th>
                <th class="text-center" width="15%"></th>
              </tr>
            </thead>
          </table>
          <h2 class="text-center">検索結果がありませんでした</h2>
        <% end %>
        <%= paginate @products %>
      </div>
      </main>

      <footer>
      <h1>探求学園Rails専攻</h1>
      <p>© 2020 QuestAcademia, All rights reserved</p>
      </footer>
